<h1 class="edit-header">Editing Book</h1>
<%=form_for(@book) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>

  <div class="field">
    <%= f.label :Title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :Body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to "Show", book_path(@book.id) %>
<span>|</span>
<%= link_to "Back", books_path %>
